extends layout

block content
  h1= title
  form#formAddTicket(name="addticket",method="post",action="/newticket")
    input#inputName(type="text", placeholder="Name", name="name")
    input#inputLocation(type="text", placeholder="Location", name="location")
    input#inputIssue(type="text", placeholder="Issue", name="issue")
    button#btnSubmit(type="submit") submit
